
/* .reveal blockquote {
    font-size: 12pt;
} */

.reveal ul li blockquote {
    color: #bbb;
    margin-left: 24pt;
    border-left-width: 0.15rem;
    border-left-color: #bbb;
}

.reveal blockquote p {
    margin: 0;
}

/* .reveal ul li {
    font-size: 12pt;
} */

p.p--small-size {
    font-size: 12pt;
    line-height: 1.7rem;
}

.reveal .slides div.sourceCode pre code.has-line-highlights > span:not(.highlight-line) {
    opacity: 0.6;
}
/* .reveal #title-slide, .reveal #title-slide h1 {
    color: #ffbfa6;
} */
/* .reveal section.has-dark-background h2 {
    color: #ffa07a;
} */